@page
@model Essenbee.Bot.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h2>AlphaBot Administration</h2>

@{
    var text = "Start AlphaBot";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">AlphaBot Control</h3>
    </div>

    <div class="panel-body">
        <div>
            @if (Model.IsRunning)
            {
                text = "Stop AlphaBot";
                <div class="text-center">
                    <span class="btn btn-success">AlphaBot is running!</span>
                </div>
            }
            else
            {
                text = "Start AlphaBot";
                <div class="text-center">
                    <span class="btn btn-danger">AlphaBot is not running</span>
                </div>
            }

            <br />
            <div class="text-center">
                <form method="post">
                    <input class="btn btn-primary" type="submit" value="@text">
                </form>
            </div>
        </div>
    </div>

</div>




<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Startup Message</h3>
    </div>

    <div class="panel-body">
        @if (!Model.StartupMessage.Any())
        {
            <p>
                <a asp-page="StartupMessage/Create">Create Startup Message</a>
            </p>
        }
        @if (Model.StartupMessage.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StartupMessage[0].Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartupMessage[0].Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.StartupMessage[0].Message)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.StartupMessage[0].Status)
                        </td>
                        <td>
                            <a asp-page="./StartupMessage/Edit" asp-route-id="@Model.StartupMessage[0].Id">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Current Project</h3>
    </div>

    <div class="panel-body">
        @if (!Model.ProjectText.Any())
        {
            <p>
                <a asp-page="Project/Create">Create Project Text</a>
            </p>
        }
        @if (Model.ProjectText.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProjectText[0].Text)
                        </th>
                        <th>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.ProjectText[0].Text)
                        </td>
                        <td></td>
                        <td>
                            <a asp-page="./Project/Edit" asp-route-id="@Model.ProjectText[0].Id">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Timed Messages</h3>
        </div>

        <div class="panel-body">

            <p>
                <a asp-page="TimedMessage/Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TimedMessages[0].Delay)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimedMessages[0].Message)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimedMessages[0].Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TimedMessages)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Delay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-page="./TimedMessage/Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./TimedMessage/Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./TimedMessage/Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
